.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  grid-auto-flow: row dense;
}

.widget {
  border: 2px solid white;
  padding: 1rem;
}

.small {
  grid-column: span 1;
}

.medium {
  grid-column: span 2;
}

.large {
  grid-column: span 3;
}

.full-width {
  grid-column: 1 / -1;
}

.shorter {
  grid-row: span 1;
}

.short {
  grid-row: span 2;
}

.tall {
  grid-row: span 3;
}

.taller {
  grid-row: span 4;
}

#widget-title {
  min-width: unset;
  width: auto;
  align-self: start;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#widget-notes {
  height: calc(275px + 2rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#widget-notes .ProseMirror {
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

#widget-notes .ProseMirror::-webkit-scrollbar {
  width: 6px;
}

#widget-notes .ProseMirror::-webkit-scrollbar-track {
  background: transparent;
}

#widget-notes .ProseMirror::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

#widget-notes .ProseMirror::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: default;
}
