/* Styling on Core TipTap stuff */

.ProseMirror {
  margin: 0 auto;
  border: none;
  outline: none;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  min-height: 0;
  color: #fff;
}

.ProseMirror p {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding-left: 0;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.ProseMirror ul[data-type="taskList"] li > label {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] li > div {
  margin: 0;
}
